*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#TÍTULO{
    width: 100%;
    height: 200px;
    background:linear-gradient(to left, #2196F3, #3D5AFE, #0D47A1);
    margin: 0 auto;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: relative;
    z-index: 0;
}

#SUBTÍTULO{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: bottom;
    text-align: center;
}

.buscar{
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 10px;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 3px black;
    cursor: pointer;
}

.cabeçalho{
    height: 100%; padding: 60px
}

section.formulario{
    flex-direction: column;
}

section.formulario label{
    display: block;
    width: 100%;
    padding: 0 auto;
    height: auto;
}

section.formulario input.txt{
    width: 100%;
    height: 30px;
    margin: 0 auto;
}

fieldset{
    padding: 20px 60px;
}

.center {
    width: 30%;
    margin: 60px auto; 
}

.icons-list{
    font-size: 4rem !important;
    color: #2196F3;
    border-radius: 100%;
    padding: 10px;
    background-color: #fff;
    margin-top: 30px;
}

