*{
    margin: 0;
    padding: 0;
    border: 0;
}
div#esse{
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-image: url(../img/saude_frutas_banana.jpg);
    background-repeat: repeat-y;
    background-size: 25%;
}